<% layout('layouts/boilerplate')%>
<link href="/css/home.css" rel="stylesheet">
    <div class="intro row">
        <section class = "intro-words col-md-7 align-self-center">
            <h1 class="text-lg-center"><b>Yu Jin An</b></h1>
            <h4 class="text-lg-center display-inline">A Blockchain Developer Wannabe</h4>    
            <ul class="contacts text-lg-center">
                <li><b>E-mail</b>: anyj0516@g.skku.edu</li>
                <li><b>Mobile</b>: +82-10-3948-0594</li>
                <li><b>Github</b>: www.github.com/gejyn14</li>
            </ul>
        </section>
        <img class = "intro-image col-xs-12 col-md-5" src ="main.jpg" alt="Yu-jin">
     </div>

    <div class="about mb-5 row">
        <img class = "d-flex col-xs-12 col-md-5" src="illustration.jpg" alt="Programming"> 
        <section class="about-me col-xs-12 col-md-7 align-self-center">
            <h3>About Me</h3>
            <p>Hello. I'm Yu Jin, a blockchain developer wannabe based on Seoul. I have experience in Data Science and Artificial Intelligence and utilizing them to make predictions of diverse asset classes. </p>
            <ul class="list-inline">
                <li class="list-inline-item border p-2 mb-1">Python</li>
                <li class="list-inline-item border p-2 mb-1">Numpy & Pandas</li>
                <li class="list-inline-item border p-2 mb-1">Scikit-Learn</li>
                <li class="list-inline-item border p-2 mb-1">Tensorflow</li>
                <li class="list-inline-item border p-2 mb-1">Data Visualization</li>
                <li class="list-inline-item border p-2 mb-1">HTML & CSS</li>
                <li class="list-inline-item border p-2">Javascript</li>
            </ul>
        </section>
    </div>

    <div class="publications row mt-5 d-flex justify-content-center mb-5">
        <section class = "publications-projects p-3">
            <h3 class="text-center">Publications & Projects</h3>
            <ul class="list-group-flush">
                <li class="list-group-item">Yu-jin An and Ha-young Oh, Utilizing On-chain Data to Predict Bitcoin Prices Based on LSTM, October 2021 (JKIICE)</li>
                <li class="list-group-item">Yu-jin An and Ha-young Oh, Price Effects of Whale Activity and Derivatives Markets on Bitcoin (2021.09 - )</li>
                <li class="list-group-item">Blockchain Development Study Group (2022.01 - )</li>
            </ul>
        </section>
        </div>

    <div class="past row mt-4">
    <section class = "past-activities col-xs-12 col-md-6">
        <h3>Activities</h3>
        <ul class="p-2">
            <li class="border p-3"> <h5>SAT Lecturer, Hackness Academy</h5><h6>2017.12 - 2018.06</h6></li>
            <li class="border p-3"> <h5>Reporter, Sungkyun Times</h5><h6>2018.09 - 2020.08</h4></li>
            <li class="border p-3"> <h5>Research Assistant, Lambda Lab</h5><h6>2021.08 -</h6></li>
        </ul>

    </section>

    <section class = "past-education col-md-6 Academics">
        <h3>Education</h3>
        <ul class="p-2">
            <li class = "border p-3"><h5>HSD, Jakarta International School</h5><h6>2009.09 - 2012.06</h6></li>
            <li class = "border p-3"><h5>Bachelors, Global Economics & Applied Data Science, SKKU</h5><h6>2014.03 - 2021.08</h6></li>
            <li class = "border p-3"><h5>Masters, Department of Fintech, SKKU</h5><h6>2021.08 -</h6></li>
        </ul>
    </section>
    </div>
